.performance-image
  .performance-viewer
    %ul
      %li= image_tag ("img-pc.jpg")
      %li= image_tag ("img-business.jpg")
      %li= image_tag ("img-child.jpg")
      %li= image_tag ("img-coffee.jpg")
      %li= image_tag ("img-cheers.jpg")