.form
  = form_with(url: "#", local: true, method: :get, class: "form") do |form|
    = form.text_field :keyword, placeholder: "キーワードから探す", class: "form__input"
    = form.submit '検索', class: 'form__btn'
.message
  - @posts.each do |post|
    .message__name
      = post.name
    .message__text
      = post.text
      .edit-actions
      - if user_signed_in? && post.user_id == current_user.id
        = link_to post_path(post.id), method: :delete, class:"edit-actions-btn" do
          編集
        = link_to post_path(post.id), method: :delete, class:"edit-actions-btn" do
          削除