.form
  = form_with(url: search_posts_path, local: true, method: :get, class: "form") do |form|
    = form.text_field :keyword, placeholder: "キーワードから探す", class: "form__input"
    = form.submit '検索', class: 'form__btn'
.main-container
  .message
    - @posts.each do |post|
      .message__name
        = "#{post.name}："
        %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
      .message__text
        = post.text
        .edit-actions
        - if user_signed_in? && post.user_id == current_user.id
          = link_to edit_post_path(post.id), method: :get, class:"edit-actions-btn" do
            編集
          = link_to post_path(post.id), method: :delete, class:"edit-actions-btn" do
            削除
  %ul.debug-tool
    %h4.debug-tool-text
      アプリ検証ツール一覧
    %hr
    %h4.debug-tool-text
      リダイレクト
    %li.debug-tool-item1
      = link_to "新規投稿", new_post_path, method: :get
    %hr