.header
  .header__bar
    .header__bar__left
      ようこそ！
      - if user_signed_in?
        .header__bar__left__name
          = link_to "#{current_user.nickname}さん", edit_user_registration_path, method: :get
    .header__bar__right
      %ul.header-item
        %li.toggle-infomation
          %i.fas.fa-exclamation-circle
            .darkmode-tooltiptext
              黒を基調とした背景で閲覧できます
          .darkmode-text
            ダークモード
        %li.toggle-switch
          %input#toggle.toggle-input{type: "checkbox"}/
          %label.toggle-label{for: "toggle"}
        - if user_signed_in?
          %li.header-bar-item
            = link_to "新規投稿", new_post_path, method: :get
          %li.header-bar-item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.header-bar-item
            = link_to "ログイン", new_user_session_path, method: :get
          %li.header-bar-item
            = link_to "新規登録", new_user_registration_path, method: :get
          %li.header-bar-item
            = link_to "ゲストログイン（登録不要）", users_guest_sign_in_path, method: :post
