.header
  .header__bar
    .header__bar__left
      ようこそ！
      - if user_signed_in?
        .header__bar__left__name
          = link_to "#{current_user.nickname}さん", edit_user_registration_path, method: :get
    .header__bar__right
      %ul.header-item
        %li.dark-mode
          = form_with url: "/" do |form|
            ダークモード
            = form.radio_button :darkmode, class: "dark-mode-form"
            ON
            = form.radio_button :darkmode, class: "dark-mode-form"
            OFF
        - if user_signed_in?
          %li.header-bar-item
            = link_to "新規投稿", new_post_path, method: :get
          %li.header-bar-item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.header-bar-item
            = link_to "ログイン", new_user_session_path, method: :get
          %li.header-bar-item
            = link_to "新規登録", new_user_registration_path, method: :get